.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
/*   
  .table_container {
    width: 70%;
  } */

  .table_container h1 {
    text-align: center;
  }
  
  .form_container {
    width: 30%;
  }

  .form_container h1 {
    text-align: center;
    /* margin-top: -20rem; */
  }
  
