/* navbar.module.css */

.navbar {
  margin: 0;
  padding: 0;
}

/* Estilos comunes para pantallas grandes */
.list {
  list-style: none;
  display: flex;
}

.item {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.alignRight {
  margin-left: auto;
}

/* Estilos para pantallas pequeñas (esconde la lista para pantallas pequeña) */
@media (max-width: 768px) {
  .list {
    display: none;
  }
}

/* Esconde la lista en pantallas pequeñas */
@media (min-width: 769px) {
  .responsive {
    display: none;
  }
}
