.list {
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  width: 5rem;
}

.item {
  margin-top: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}

.dropdownMenuLeft {
    right: 0;
    left: auto;
  }