.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table_container {
    margin-top: -21rem;
    width: 70%;
    margin-right: 10px; 
  }

  .table_container h1 {
    text-align: center;
  }
  
  .form_container {
    width: 30%;
  }

  .form_container h1 {
    text-align: center;
  }
  
