/* styles.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table_container {
    margin-top: -20rem;
    width: 70%;
    margin-right: 10px; /* Ajusta el margen según tus preferencias */
  }
  
  .form_container {
    width: 30%;
  }
  
  /* Agrega cualquier otro estilo que desees para la tabla y el formulario */
  